# Python bytecode cache
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
env/
venv/
.venv/
ENV/

# Build and packaging
*.egg
*.egg-info/
dist/
build/
*.manifest
*.spec

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Test and static analysis tools
htmlcov/
.coverage
.tox/
.nox/
.cache/
.mypy_cache/
.pytype/
.pytest_cache/
ruff_cache/

# Ignore image files
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.tif
*.webp
*.svg
*.ico
*.heic
*.drawio